spring:
  application:
    name: kakeibo

  datasource:
    url: jdbc:postgresql://localhost:5433/kakeibo
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
